{{with .Site.Data.stories}}
{{if .enable}}
<section class="gallery" id="stories">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>{{ .title | safeHTML }}</h2>
          <p>
            {{.subtitle}}
          </p>
        </div>
      </div>
    </div>

    <iframe width=100% height="720" src="https://www.youtube.com/embed/XpGZeq7jbhY?list=PL2TgiN6ISYrrwwii6EecKoalBp9adJCFN" title="C-spine F1 controlled extrication" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <div class="row">
      {{ range .galleryImage }}
        <div class="col-md-6">
          <div class="gallery-item">
            <a href="{{ .image | absURL }}" data-source="{{ .image | absURL }}"
                title="Exibhition 01">
                <img src="{{ .image | absURL }}" alt="gallery-images">
            </a>
          </div>
        </div>
      {{end }}
    </div>
  </div>
</section>
{{end}}
{{end}}